body {
  font-family: Poppins;
  }
 
img{
  border-radius: 0.5rem;
}  

.flip-card-inner:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

.flip-card-inner.flipped:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  .wrapper{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.flexbox{
    display: flex;
    flex-wrap: wrap;
}

.Fbox{
    text-align: center;
    height: 90px;
    min-width: 50px;
}
.FBtn{
    text-align: center;
}

.one{
    text-align: center;
}

.two{
    text-align: center;
    flex-grow: 2;
    flex-shrink: 2;
}

.three{
    text-align: center;
    flex-grow: 1;
}

.four{
  text-align: center;
  flex-grow: 1;
}

div.FP {
    position: sticky;
    top: 0;
    padding: 5px;
    z-index: 2;
    background-color: #cae8ca;
    border: 2px solid #4CAF50;
  }

  .container{
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100vh;
  }
  
  .container .item{
  flex-basis: 25%;
  flex-grow: 1;
  padding: 10px;
  }

  button {
      background-color: white; 
      color: black; 
      border: 2px solid #085e00;
      width: 250px;
      max-width: 100%;
      padding: 15px;
  }
  button:hover {
      background-color: #007c29;
      color: white;
  }

.flip-card {
  background-color: transparent;
  width: 50px;
  height: 50px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-inner.flipped {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;

}

.flip-card-back {
  transform: rotateY(180deg);
}
